// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body {
    height: 100%;
}

h1 {
    i {
        position: relative;
        top: -8px;
        margin-right: 5px;
    }
}

.card-header i {
    position: relative;
    top: -4px;
    margin-right: 5px;
}

.main-side-bar {
    min-width: 300px;
    .list-group-item {
        background: none;
    }
    a {
        color: #FFF;
        text-decoration: none;
        &:hover {
            color: #444;
        }
    }
    .dropdown-item {
        color: #1e2125;
    }
    .bi {
        margin-right: 10px;
        position: relative;
        top: -3px;
    }
}

.dropdown-toggle {
    i {
        position: relative;
        top: -3px;
    }
}

.dropdown-item:active {
    background: none;
}

.callout {
    padding: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-info {
    border-left-color: #5bc0de;
}

.callout-danger {
    border-left-color: #dc3545;
}

table a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

table tr:last-child td, table tr:last-child th {
    border: none;
}

.btn-primary {
    color: #FFF;
}
