// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Dropzone
@import '../../node_modules/dropzone/dist/dropzone.css';

html, body {
    height: 100%;
}

h1 {
    i {
        position: relative;
        top: -8px;
        margin-right: 5px;
    }
}

.card-header i {
    position: relative;
    top: -4px;
    margin-right: 5px;
}

.input-group-text i {
    position: relative;
    top: -4px;
}

.main-side-bar {
    height: auto !important;
    padding-bottom: 20px;
    @media (min-width: 769px) {
        position: fixed;
        height: 100% !important;
    }
    min-width: 300px;
    .list-group-item {
        background: none;
    }
    a {
        color: #FFF;
        text-decoration: none;
        &:hover {
            color: #444;
        }
    }
    .dropdown-item {
        color: #1e2125;
    }
    .bi {
        margin-right: 10px;
        position: relative;
        top: -3px;
    }
}

.main-col {
    @media (min-width: 769px) {
        padding-left: 330px;
    }
}

.dropdown-toggle {
    i {
        position: relative;
        top: -3px;
    }
}

.dropdown-item:active {
    background: none;
}

.callout {
    padding: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-info {
    border-left-color: #5bc0de;
}

.callout-danger {
    border-left-color: #dc3545;
}

table a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

table tr:last-child td, table tr:last-child th {
    border: none;
}

.btn-primary {
    color: #FFF;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}
.dropzone .dz-message {
    font-weight: 400;
}
.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}
